<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository />
	<interactiveMode />
	<usePluginRegistry />
	<offline />
	<servers>
		<server>
			<id>MuleRepository</id>
			<username>apisero.nexus</username>
        	<password>pWhdnHcG</password>
		</server>
		<server>
			<id>anypoint-exchange-v3</id>
			<username>Farzana-6</username>
			<password>@1cD18CS037</password>
		</server>
	</servers>
	<pluginGroups>
		<pluginGroup>org.mule.tools</pluginGroup>
	</pluginGroups>
	<profiles>
		<profile>
			<id>standard-repositories</id>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>anypoint-exchange-v3</id>
					<name>Anypoint Exchange</name>
					<url>https://maven.anypoint.mulesoft.com/api/v3/maven</url>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<activeProfiles />
</settings>